@model course_project.Models.Guild

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Guild</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameGuild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameGuild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firmGuild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmGuild)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_guild }) |
    @Html.ActionLink("Back to List", "Index")
</p>
